.movie {
  position: relative;
  width: 200px;
  margin: 15px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  background-color:#1c1c1c;
  cursor: pointer;
  transition: transform 0.2s;
}

.movie:hover {
  transform: scale(1.05);
}

.movie__cover-inner {
  position: relative;
  width: 100%;
  height: 300px;
}

.movie__cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie__cover--darkened {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
}

.movie__info {
  padding: 8px;
  background-color: #1c1c1c; 
  text-align: center;
}

.movie__title {
  font-size: 14px;
  font-weight: bold;
  margin: 2px 0;
  color: #fff; 
}

.movie__category {
  font-size: 12px;
  color: #ccc; 
  margin: 0;
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie__average {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 8px;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
}

.movie__average--green {
  background-color: #4caf50;
}

.movie__average--orange {
  background-color: #ff9800;
}

.movie__average--red {
  background-color: #f44336;
}
